<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 要求在hibernate.cfg.xml要设置自动提交 -->
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>

	<bean id="AdminDao" class="com.monkey77.dao.TAdminDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="UserDao" class="com.monkey77.dao.TUserDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="GoodDao" class="com.monkey77.dao.TGoodDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="SmsIdentifyingCodeDao" class="com.monkey77.dao.TSmsIdentifyingCodeDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="CookieValidateDao" class="com.monkey77.dao.TCookieValidateDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="CategoryDao" class="com.monkey77.dao.TCategoryDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="KeyWordsDao" class="com.monkey77.dao.TKeywordsDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="RootDao" class="com.monkey77.dao.TRootDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="ShowPicDao" class="com.monkey77.dao.TShowPicImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="ProductPicDao" class="com.monkey77.dao.TProductPicDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="CartDao" class="com.monkey77.dao.TCartDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="UserService" class="com.monkey77.service.UserServiceImp">
		<property name="userDao" ref="UserDao"></property>
		<property name="smsIdentifyingCodeDao" ref="SmsIdentifyingCodeDao"></property>
		<property name="cookieValidateDao" ref="CookieValidateDao"></property>
	</bean>
	<bean id="GoodService" class="com.monkey77.service.GoodServiceImp">
		<property name="goodDao" ref="GoodDao"></property>
		<property name="keywordsDao" ref="KeyWordsDao"></property>
		<property name="productPicDao" ref="ProductPicDao" ></property>
		<property name="categoryDao" ref="CategoryDao" ></property>
	</bean>
	<bean id="RootService" class="com.monkey77.service.RootServiceImp">
		<property name="rootDao" ref="RootDao"></property>
	</bean>
	<bean id="ContextService" class="com.monkey77.service.ContextServiceImp">
		<property name="keywordsDao" ref="KeyWordsDao"></property>
		<property name="categoryDao" ref="CategoryDao"></property>
		<property name="showPicDao" ref="ShowPicDao"></property>
	</bean>
	<bean id="CartService" class="com.monkey77.service.CartServiceImp">
		<property name="cartDao" ref="CartDao"></property>
	</bean>
	<bean id="RegisterAction" class="com.monkey77.action.RegisterAction">
		<property name="userService" ref="UserService" ></property>
	</bean>
	<bean id="LoginAction" class="com.monkey77.action.LoginAction">
		<property name="userService" ref="UserService" ></property>
	</bean>
	<bean id="GoodAction" class="com.monkey77.action.GoodAction">
		<property name="goodService" ref="GoodService" ></property>
		<property name="contextService" ref="ContextService" ></property>
	</bean>
	<bean id="HoutaiLoginAction" class="com.monkey77.action.HoutaiLoginAction">
		<property name="RootService" ref="RootService" ></property>
	</bean>
	<bean id="CartAction" class="com.monkey77.action.CartAction">
		<property name="cartService" ref="CartService" ></property>
	</bean>
</beans>