
@charset "utf-8";
/* CSS Document */

body,html{
		/*与窗体的外边距*/
		margin:0px;
		padding:0px;
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;	
	}
	/*解决div贴紧顶部边界*/
	*{
	/* [disabled]margin:0px; */
	padding: 0px;
}
	ul{margin:0;}
	#header-line{
		height:40px;
		background:#F0F0F0;
		margin:0px;	
	    float:left;
		width:100%;
	}
	#select-line{
		float:left;
		margin-left:0px;
		}
	#header-line>ul{
		
		list-style:none;
      padding-left:800px;
		
	}
	#select-line>ul{
		list-style:none;
      padding-left:130px;
		}
	#select-line>ul>li,#header-line>ul>li{
		float:left;
		
		/*解决li中的文本垂直居中*/
		line-height:40px;
		vertical-align:middle;
	}
	
	#select-line>ul>li>a{
		color:#666;
		/*去掉下划线*/
		text-decoration:none;
		display:block;
		float:left;
		line-height:40px;
		vertical-align:middle;
		padding:0px 10px;
		}
	#header-line>ul>li>a:hover{
		color:#666;
	}
	#select-line>ul>li>a:hover{
		color:#C03;
		}
    #header-ma{
		padding-left:135px;
		padding-top:20px;
		float:left;
		}
/*	.line-ma{
	float:left;
	margin-left:140px;
	width:1100px;
	height:400px;
	}
	*/
	.col-md-4 {
     width: 22%;
}
.caption>p{color:#F00;font-size:18px}
.container-fluid{padding-right: 0px;}
.line2{
		height:40px;
		background:#FEE9F8;
		margin:0px;	
	    float:left;
		width:100%;
	}
	.line2>ul{
				list-style:none;
		}
		.line2>ul>li{
				float:left;
		
		/*解决li中的文本垂直居中*/
		line-height:40px;
		vertical-align:middle;
			}
	.line2>ul>li>a{
		color:#666;
		/*去掉下划线*/
		text-decoration:none;
		display:block;
		float:left;
		line-height:40px;
		vertical-align:middle;
		padding:0px 20px;
		}
	.line2>ul>li>a:hover{
		color:#000;
		background-color:#FCB4EC;
		}
	.line2>ul>li>a:focus{background-color:#FCB4EC;}
    .active{background-color:#FCB4EC;color:#000;}
	#menu1>li>a:hover{background-color:#FCB4EC;color:#000;}
	#menu1>li>a:focus{background-color:#FCB4EC;color:#fff;}
.goods {
height: 82px;
width: 100%;
background: #669933;
color: #666;
}
.line{ 
float:left;
padding-right:50px;
padding:20px;
}
.title1{
	float:left;
	list-style:none;
	padding:0 40px;
	color:#000;
	}
.title{
	font-weight:700
	}
	.title1>li>a{
		color:#666;
		/*去掉下划线*/
		text-decoration:none;}
.menu li:before { content: "|"; padding-right: 10px; }
.menu li:last-child:before { content: ""; }

#input_account{
	margin-bottom:10px;
	}
	.enroll{
	margin-bottom:10px;
	}
.modal-body{
	font-size:18px;
	
	}
.modal-title{
	color:#669933;
	font-family:隶书；
	}
.modal-header{
	height:90px
	}
#num{
	border:none;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	padding-left:37px;
	padding-top:-3px;
	background:none;
	width:55px;
	}

.thumbnail{
	overflow:hidden;
	}
.own_define{
		margin:50px 10px 40px 10px;
		background:none;
		border:#FCF 1px solid;
		color:#FCF;
		width:140px;
		height:40px;
		}
.word_about{
		color:#000;
		}
.case>li{float:left;display:inline;margin-right:2px;margin-left:2px;width:380px;height:160px; background:url(images/bg_case_f.png) center bottom no-repeat;position:relative;}
.case_w{display:block;width:380px;height:160px;padding-top:20px;background:url(images/bg_case.png) no-repeat;position:absolute;bottom:14px;left:0px;}
 .fire{background:#000;opacity:0.8;filter:alpha(opacity=50);position:absolute;top:23px;width:340px;height:150px;z-index:2;display:none; text-align:center; }
.pagination>li>a:active{background-color:#669933
}
.can_not{
	color:#F00;
	text-align:center;
	font-size:18px;	
	}
